In [1]:
import pandas as pd

In [78]:
spx = pd.read_csv('./data/SPX_prices.csv')
nya = pd.read_csv('./data/NYA_prices.csv')
nasdaq = pd.read_csv('./data/NASDAQ_prices.csv')
djia = pd.read_csv('./data/DJIA_prices.csv')

In [79]:
spx['Ticker'] = 'SPX'
nya['Ticker'] = 'NYA'
nasdaq['Ticker'] = 'NASDAQ'
djia['Ticker'] = 'DJIA'

In [80]:
# Clean column names
# There are ' ' in the names of the columns
print(spx.columns)

Index(['Date', ' Open', ' High', ' Low', ' Close', 'Ticker'], dtype='object')

In [104]:
spx = spx.rename(columns = {' Open':'Open', ' High': 'High', ' Low':'Low', ' Close':'Close'})
nya = nya.rename(columns = {' Open':'Open', ' High': 'High', ' Low':'Low', ' Close':'Close'})
nasdaq = nasdaq.rename(columns = {' Open':'Open', ' High': 'High', ' Low':'Low', ' Close':'Close'})
djia = djia.rename(columns = {' Open':'Open', ' High': 'High', ' Low':'Low', ' Close':'Close'})

In [105]:
# check columns are clean
print(spx.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Ticker'], dtype='object')

In [106]:
# clean 'Date' column into a Datetime
# check all values are numeric columns are float64
spx.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Ticker            object
dtype: object

In [107]:
# convert Date to datetime
spx['Date'] = pd.to_datetime(spx['Date'])
nya['Date'] = pd.to_datetime(nya['Date'])
nasdaq['Date'] = pd.to_datetime(nasdaq['Date'])
djia['Date'] = pd.to_datetime(djia['Date'])

In [108]:
spx.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Ticker            object
dtype: object

In [121]:
# check all values in Open, High, Low, and Close are floats (integers)
for df in [spx, nya, nasdaq, djia]:
    print(all(isinstance(x, float) for x in df['Open']))
    print(all(isinstance(x, float) for x in df['High']))
    print(all(isinstance(x, float) for x in df['Low']))
    print(all(isinstance(x, float) for x in df['Close']))

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [122]:
# visually check data 
spx.describe()

              Open         High          Low        Close
count   147.000000   147.000000   147.000000   147.000000
mean   3025.521633  3052.753741  2993.838639  3025.359388
std     268.029786   254.001226   283.330367   268.940134
min    2290.710000  2300.730000  2191.860000  2237.400000
25%    2859.270000  2876.680000  2821.020000  2857.945000
50%    3096.460000  3120.920000  3047.830000  3097.740000
75%    3238.765000  3258.730000  3221.300000  3244.925000
max    3380.450000  3393.520000  3378.830000  3386.150000

In [123]:
nya.describe()

               Open          High           Low         Close
count    147.000000    147.000000    147.000000    147.000000
mean   12119.481156  12215.434558  11996.945918  12109.658367
std     1335.596047   1289.436053   1391.170296   1339.911545
min     9014.580000   9053.490000   8664.940000   8777.380000
25%    11155.015000  11250.210000  11054.680000  11136.005000
50%    12056.210000  12107.950000  11963.500000  12028.910000
75%    13382.260000  13453.040000  13076.015000  13095.175000
max    14168.140000  14183.260000  14156.400000  14183.200000

In [124]:
nasdaq.describe()

               Open          High           Low         Close
count    147.000000    147.000000    147.000000    147.000000
mean    9156.358435   9255.133129   9059.133333   9167.191769
std      943.370122    906.568336    965.294479    940.083746
min     6847.280000   6984.940000   6631.420000   6860.670000
25%     8667.310000   8735.140000   8548.365000   8621.125000
50%     9270.610000   9317.250000   9188.560000   9273.400000
75%     9787.025000   9856.885000   9689.200000   9785.650000
max    10837.880000  10839.930000  10650.470000  10767.090000

In [125]:
djia.describe()

               Open          High           Low         Close
count     63.000000     63.000000     63.000000     63.000000
mean   25643.280000  25845.330794  25414.595556  25643.729524
std     1072.238773   1047.766766   1085.284009   1067.693633
min    23049.060000  23630.860000  22789.620000  23247.970000
25%    24967.145000  25329.610000  24812.510000  25005.330000
50%    25936.450000  26103.280000  25667.680000  25827.360000
75%    26377.930000  26606.740000  26094.140000  26403.800000
max    27447.370000  27580.210000  27232.480000  27572.440000

In [137]:
spx = spx.sort_values('Date').reset_index(drop=True)
nya = nya.sort_values('Date').reset_index(drop=True)
nasdaq = nasdaq.sort_values('Date').reset_index(drop=True)
djia = djia.sort_values('Date').reset_index(drop=True)

In [143]:
# check that the pct change was calculated correctly
spx['Close'].pct_change().head()

0         NaN
1   -0.007060
2    0.003533
3   -0.002803
4    0.004902
Name: Close, dtype: float64

In [142]:
# (3257.85-3234.85)/3257.85 = -.007060
spx['Close'].head()

0    3257.85
1    3234.85
2    3246.28
3    3237.18
4    3253.05
Name: Close, dtype: float64

In [144]:
spx['Pct_Change_Close'] = spx['Close'].pct_change()
nya['Pct_Change_Close'] = nya['Close'].pct_change()
nasdaq['Pct_Change_Close'] = nasdaq['Close'].pct_change()
djia['Pct_Change_Close'] = djia['Close'].pct_change()

In [149]:
spx.head()

        Date     Open     High      Low    Close Ticker  Pct_Change_Close
0 2020-01-02  3244.67  3258.14  3235.53  3257.85    SPX               NaN
1 2020-01-03  3226.36  3246.15  3222.34  3234.85    SPX         -0.007060
2 2020-01-06  3217.55  3246.84  3214.64  3246.28    SPX          0.003533
3 2020-01-07  3241.86  3244.91  3232.43  3237.18    SPX         -0.002803
4 2020-01-08  3238.59  3267.07  3236.67  3253.05    SPX          0.004902

In [152]:
data = pd.concat([spx.round(4), nya.round(4), nasdaq.round(4), djia.round(4)])

In [153]:
data.to_csv('./data/index_prices.csv', index=False)